/** @format */

body {
  font-family: "Arial", Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  background-color: aquamarine;
}
.container {
  width: 100%;
  max-width: 700px;
  padding: 40px;
  text-align: center;
}

h1 {
  color: black;
  font-weight: 800;
  font-size: 60px;
  line-height: 1.5;
}

form {
  padding: 30px;
  border-radius: 10px;
  background-color: #1fd4e0;
  box-shadow: 0 4px 12px rgba(31, 30, 30, 0.1);
  display: flex;
  gap: 10px;
}
.ingredients-input {
  flex: 1;
  padding: 14px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
.button {
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.button:hover {
  opacity: 0.8;
}
footer {
  margin-top: 30px;
  font-size: 14px;
}

footer a {
  color: black;
}
